# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Model checkpoints & large weights
*.pth
*.pt
*.ckpt
*.h5
*.onnx

# Datasets
dataset/
datasets/

# Logs and temp files
*.log
*.exe
*.pptx
.vscode/
.idea/
*.DS_Store
